<h1>Admin:  All Current Scenes</h1>

<% @scenes.each do |scene| %>
	<p><%= scene.date %><br />
	<%= scene.time %><br />
	<%= scene.location %><br />
	<%= scene.story_body %><br />
	<%= link_to "Edit or Delete this scene.", "scenes/#{scene.id}" %></p>
<% end %>

<p><%= link_to "Admin: Create a new scene", "scenes/new" %></p>