<h1><%= @scene.date %>, <%= @scene.time %>, <%= @scene.location %><br /></h1>
<p><%= @scene.story_body %></p>


<% @scene.child_scenes.each do |child| %>
	<%= form_for UserScene.new do |f| %>
		<%= hidden_field_tag :scene_id, child.id %>
		<%= f.submit child.story_body %>
	<% end %>

<% end %>
