<h1><%= @scene.date %>, <%= @scene.time %>, <%= @scene.location %>, <%= UserScene.tracking %><br /></h1>
<p><%= @scene.story_body %></p>



<<<<<<< HEAD


<% @scene.child_scenes.each do |child| %>
	<%= form_for UserScene.new do |f| %>
		<%= hidden_field_tag :scene_id, child.id %>
		<%= f.submit child.story_body %>
	<% end %>

<% end %>

=======
<% if @scene.parent_scene_id == 1 %>
	<%= link_to "Choice One", "/scenes/2", class: 'button' %>
<% end %>
>>>>>>> SMith
